@charset "UTF-8";

/**
 * ********************************
 * ページ全体にかかわるCSSの設定
 * ********************************
 */
html *, ::before ::after {
    box-sizing: border-box;
}
html {
    font-size: 14px;
    line-height: 1.7rem;
    /* max-width: 1000px; */
    margin: auto;
}
@media (min-width: 760px) {
    html {
        font-size: 16px;
    }
    body {
        font-family: sans-serif;
    }
}
/* 標準的なリンクテキストの色 */
a {
    color: #0bd;
}
/* レスポンシブイメージと画像下スペース防止 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
/* ボタン */
.button {
    font-size: 1rem;
    background: #d9d9d9;
    border-radius: 5px;
    padding: 5px 10px;
}
main {
    padding: 0 10px;
}
/* テーブル */
/* table, tr, td {
    border-collapse: collapse;
    border: 1px #222 solid;
}

td {
    text-align: left;
} */

/**
 * ********************************
 * ログインページ, パスワードリセット, パスワードリセット完了
 * ********************************
 */
.login-modal {
    margin: 5px auto;
    text-align: center;
    border: 1px solid #000;
    max-width: 400px;
    padding: 5px;
}
.login-modal table {
    margin: auto;
}
.login-modal td {
    min-height: 50px;
    padding: 5px 2px;
}
.login-modal input[type="text"], .login-modal input[type="password"] {
    margin: 2px;
}
/**
 * ********************************
 * 会員登録ページ, 確認ページ
 * ********************************
 */
.register table, .register tr, .register td {
    border-collapse: collapse;
    border: 1px #222 solid;
}

.register td {
    text-align: left;
}

/* main {
    max-width: 2800px;
    margin: auto;
    text-align: center;
} */

.required {
    background-color: red;
    color: white;
}
.optional {
    background-color: orange;
    color: white;
}

/**
 * ********************************
 * ヘッダー
 * ********************************
 */
header {
    margin: 0 10px;
    padding: 0.5rem 0;
    display: flex;
    justify-content: left;
    border-bottom: #0bd 1px solid;
}
.title-block {
    padding-left: 10px;
}
h1 {
    font-size: 1.75rem;
    margin: 0.5rem 0 0;
}
.hamburger {
    width: 28px;
    align-self: center;
    margin-left: 16px;
    /* text-align: center; */
    /* color: #fff; */
}

/**
 * ********************************
 * サイドバー
 * ********************************
 */
aside {
    border-right: 1px #0bd solid;
}
/* アカウント */
aside .account {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    border-bottom: #0bd 1px solid;
    margin: 10px 10px;
    padding-bottom: 10px;
}
aside > div {
    padding: 20px 10px;
}
.profile-icon img {
    width: 100px;
} 
.setting img {
    width: 20px;
}
/* ナビゲーション */
nav ul {
    margin: 0 0;
    padding-inline-start: 0;
}
nav li {
    list-style: none outside;
}
nav img {
    width: 16px;
    margin-right: 5px;
}

/* ドロワーのための設定 */
#nav {
    /* font-size: 30px; */
    position: fixed;
    left: -220px;
    top: 0;
    width: 220px; /*これは任意に変える*/
    height: 100%;
}
.show {
    transform: translate3d(220px, 0, 0);
}
#wrapper, #nav {
    transition: transform 0.3s;
}

/**
 * ********************************
 * ホーム
 * ********************************
 */
/* お知らせ */
/* 過去のお知らせ一覧画面と共通部分あり */
.news-area {
    margin: 5px 10px 15px;
    padding: 5px 10px;
    border-bottom: #0bd 1px solid;
}
.news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-area article {
    margin: 5px 0px;
}
.news-article .important {
    font-size: 0.875rem;
    color: #fff;
    background: red ;
}
.news-article .important::after {
    content: "重要";
}
.news-area h2 {
    margin: 0 0 0;
    font-size: 1.5rem;
}
.news-article p {
    margin: 0 0 0.125rem;
    line-height: 1.5rem;
}
.news-area .detail {
    font-size: 0.875rem;
}
/* 過去のお知らせ検索メニュー */
.news-area .search-condition {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px #222 solid;
    padding: 5px;
}
.news-area .search-condition > div {
    margin: 10px 5px;
}
.news-area input[type="text"] {
    width: 150px;
}


/* ダッシュボード */
.dashboard {
    margin: 50px 10px 15px;
    padding: 5px 10px;
    border-bottom: #0bd 1px solid;
}
.dashboard h2 {
    margin: 0 0 0;
    font-size: 1.5rem;
}
.dashboard-tiles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* height: 170px; */
}
.dashboard img {
    margin: 5px;
    border: 1px #222 solid;
    border-radius: 11px;
    height: 158px;
    width: 134px;
}

/* 新着／おすすめ */
/* パーソナルアドバイス画面と共通 */
.recommendation-area {
    margin: 50px 15px;
    padding: 5px 15px;
}
.recommendation-area h2 {
    margin: .75rem auto 0;
    text-align: center;
}
.recommendation-area h3 {
    margin: 0 0;
    padding: 5px 0;
    border-bottom: 1px #0bd solid;
}
.recommendation-area article {
    display: flex;
    margin: 10px;
}

.recommendation-area article .thumbnail {
    display: block;
    width: 100px;
    margin: 10px;
}
.recommendation-area article h4 {
    margin: 1rem 0 .5rem;
}
.recommendation-area article p {
    margin: 0 0;
}
.campaign, .activity, .contents {
    margin: 0 0 15px;
}


/**
 * ********************************
 * 個人のカルテ
 * ********************************
 */
.karte-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.karte-tiles > div {
    height: 120px;
    width: 150px;
    /* padding: 5px; */
    margin: 3px;
    border: 1px #222 solid;
    /* text-align: center; */
}
.karte-tiles a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    margin: auto;
}
.karte-tiles a:hover {
    font-weight: normal;
}
.history > div {
    background-color: #4F81BD;
}
.measure > div {
    background-color: #9BBB59;
}

/**
 * ********************************
 * 各種計測値画面
 * ********************************
 */
/* 表示日付 */
.display-date {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.display-date img {
    height: 30px;
    width: auto;
}
 /* 計測値 */
.measure-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.measure-tiles > div {
    background-color: #fafafa;
    width: 150px;
    height: 150px;
    margin: 3px;
    padding: 5px;
    border: #222 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
}
.measure-tiles .measure-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.measure-tiles .category {
    font-size: 1rem;
    font-weight: normal;
}
.measure-tiles .measured-value {
    /* height: auto; */
    font-size: 2.5rem;
    /* margin: 2rem 0; */
    text-align: center;
}
.measure-tiles .unit {
    font-size: 1.5rem;
}
.measure-tiles .normal
, .measure-tiles .warning
, .measure-tiles .risk
, .measure-tiles .high-risk {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 4px;
}
.measure-tiles .normal {
    background-color: greenyellow;
    color: #000;
}
.measure-tiles .normal::after {
    content: "正常";
}
.measure-tiles .warning {
    background-color: yellow;
    color: #000;
}
.measure-tiles .warning::after {
    content: "警告";
}
.measure-tiles .risk {
    background-color: orange;
}
.measure-tiles .risk::after {
    content: "リスク";
}
.measure-tiles .high-risk {
    background-color: red;
}
.measure-tiles .high-risk::after {
    content: "ハイリスク";
}